<h3 id="dom-signal-status" class="dom-signal-missing">
    <span class="dom-signal-detected">
        DOM signal present
        <svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" height="20" width="20" class="thumbs-up"><path d="M14.37 16.55c.63-.15 1.25-.55 1.25-1.32 0-.31-.09-.54-.2-.72-.06-.1-.04-.18.04-.22.51-.22.93-.67.93-1.32 0-.36-.09-.7-.28-.92-.1-.12-.07-.22.07-.3.38-.21.62-.68.62-1.2 0-.38-.12-.79-.34-.98-.12-.11-.1-.2.04-.3.26-.2.4-.6.4-1.05 0-.78-.6-1.43-1.4-1.43h-2.86c-.72 0-1.21-.36-1.21-.96 0-1.1 1.36-3.09 1.36-4.53 0-.74-.48-1.18-1.12-1.18-.57 0-.87.4-1.18 1-1.19 2.35-2.8 4.25-4.04 5.89a6.89 6.89 0 00-1.58 4.47c-.04 2.96 2.36 5.21 6.13 5.24l1.1.01a9.24 9.24 0 002.27-.18zm-8.54-.6a5.27 5.27 0 01-2.08-4.48A7.02 7.02 0 015.3 7.1H4.11C2.29 7.1.9 9.05.9 11.54c0 2.41 1.48 4.42 3.5 4.42h1.42z" fill="rgb(0, 212, 255)" class="dom-thumbs-up"></path></svg>
      <div class="gpc-value">
        <code>navigator.globalPrivacyControl: <span id="gpc-dom-value"></span></code> 
      </div>
    </span>
    <span class="dom-signal-not-detected">
        DOM signal not present
        <svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" height="20" width="20" class="thumbs-down"><path d="M6.15 17.19c.57 0 .87-.41 1.18-1.02 1.19-2.35 2.8-4.25 4.04-5.88a6.9 6.9 0 001.58-4.48C12.99 2.85 10.59.6 6.82.57h-1.1C4.66.54 3.88.62 3.44.73 2.82.9 2.2 1.29 2.2 2.07c0 .31.09.53.2.7.06.11.04.2-.04.24-.51.21-.93.67-.93 1.32 0 .36.1.68.28.92.1.12.07.22-.07.3-.38.21-.62.67-.62 1.2 0 .37.12.78.34.98.12.11.1.19-.04.3-.26.2-.4.59-.4 1.05 0 .78.6 1.42 1.4 1.42h2.86c.73 0 1.21.37 1.21.97 0 1.1-1.36 3.1-1.36 4.52 0 .75.48 1.2 1.12 1.2zm7.56-7c1.82 0 3.2-1.94 3.2-4.44 0-2.4-1.48-4.42-3.5-4.42H12a5.27 5.27 0 012.08 4.5 6.98 6.98 0 01-1.54 4.36h1.18z" fill="rgb(229, 111, 74)"></path></svg>
    </span>
</h3>
