/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
  background-color: #0a2540;
}
body {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 500;
  margin: 5px 0;
}

h3 {
  color: rgb(173, 189, 204);
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

section {
  border-top: 1px solid #3c4257;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1500px;
  padding: 4vw;
}

.section-copy {
  width: 45vw;
  max-width: 600px;
  margin-right: 5vw;
}

.section-copy h1 {
  font-size: 28px;
  margin: 15px 0;
}

.section-copy p {
  max-width: 600px;
  color: rgb(193, 201, 210);
}

.section-copy code {
  font-size: 0.9em;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0 3px;
  margin: 0 1px;
  border-radius: 4px;
  color: rgb(247, 250, 252)
}

.section-example {
  max-width: 600px;
  flex-grow: 1;
  align-self: flex-start;
  padding-top: 60px;
}

.intro .section-area {
  padding-top: 3vw;
  padding-bottom: 3vw;
}

a {
  color: rgb(108, 142, 239);
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:active {
  color: #fff;
}

hr {
  border: none;
  border: 1px solid #b4ca65;
}

li {
  margin-bottom: 1rem;
}

.dom-signal-missing .dom-signal-detected {
  display: none;
}

.dom-signal-missing .dom-signal-not-detected {
  display: block;
}

.dom-signal-not-detected {
  display: none;
}

.well-known-not-detected {
  display: none;
}

.gpc-value {
  padding-top: 10px;
}

.thumbs-up {
  position: relative;
  top: 2px;
  margin-left: 7px;
}

.thumbs-down {
  position: relative;
  top: 5px;
  margin-left: 7px;
}

.gpc-logo {
  position: relative;
  top: -3px;
}
.octicon {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.w3c-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

footer {
  margin-top: 50px;
  padding: 3rem 0;
  border-top: 2px solid #b4ca65;
}

.footer {
  padding: 0;
}

.footer a {
  margin-right: 45px;
}

@media screen and (max-width: 848px) {
  .section-area {
    flex-direction: column;
    align-items: center;
  }
  
  .section-copy {
    width: 100%;
    margin-right: 0;
  }
  
  .section-example {
    width: 100%;
    min-width: 100%;
    padding: 20px 0;
  }
  
  .footer a {
    margin: 0;
    padding: 8px 0;
  }
  
  .footer .gpc-logo {
    padding: 25px 0 0;
  }
}